venv/

# executables
*.exe

# kubernetes tools
kubectl
minikube

# python
venv/
__pycache__/

# chroma db
db/


# Docker volumes
ollama_data/
db/
chroma/
chromadb/
*.sqlite3

# Python
venv/
__pycache__/
*.pyc

# OS
.DS_Store

# Logs
*.log
